{%extends "index.html" %}

{% block head %}
<style>
    .tdata{
        border: 1px solid black;
        padding: 5px 20px;
    }
    table{
        border-collapse: collapse;
    }
</style>
{% endblock %}

{% block content %}
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>day</th>
            <th>1st hr</th>
            <th>2nd hr</th>
            <th>3rd hr</th>
            <th>4th hr</th>
            <th>5th hr</th>
            <th>6th hr</th>
            <th>7th hr</th>
        </tr>
    </thead>
<tbody>
{% for row in data %}
<tr >
{% for col in row %}
<td class="tdata"> {{col}}</td>
{% endfor %}
{% endfor %}
</tr>
</tbody>
</table>
</div>
{% endblock %}

